In [40]:
import csv
import pandas as pd
from IPython.display import display

bookings = '/home/axel/Documents/bookings.csv'
searches = '/home/axel/Documents/searches.csv'

n = sum(1 for line in open(bookings))
print n

m = sum(1 for line in open(searches))
print m

10000011
20390199

In [23]:
bookings_pd = pd.read_csv(bookings, sep='^', nrows=10)
display(bookings_pd.head())

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [59]:
pass_by_ports = pd.DataFrame(columns=['arr_port', 'nb_pass'])
print pass_by_ports
fields = ['arr_port', 'pax']
data = pd.read_csv(bookings, delimiter="^", usecols=fields )
airports = pd.unique(data['arr_port'])
print airports

Empty DataFrame
Columns: [arr_port, nb_pass]
Index: []
['LHR     ' 'CLT     ' 'SVO     ' ..., 'VEL     ' 'SLM     ' 'SG      ']

In [79]:
for airport in airports :
    psgrs = data.pax[data.arr_port == airport].sum(axis=0)
    pass_by_ports = pass_by_ports.append({'arr_port':airport, 'nb_pass':psgrs}, ignore_index=True)
print pass_by_ports

      arr_port  nb_pass
0     LHR       88809.0
1     CLT       16862.0
2     SVO       21292.0
3     LGA       40712.0
4     SIN       24874.0
5     TUS        4090.0
6     CTA        7300.0
7     YWG        2680.0
8     PVG       26630.0
9     SGC         310.0
10    ALG       10610.0
11    DMM        7100.0
12    LED       15960.0
13    LIS       25050.0
14    BLR       13490.0
15    BWI       13590.0
16    DEL       35680.0
17    TPA       21530.0
18    MNL       32400.0
19    ULN         990.0
20    ZRH       20190.0
21    ALA        4580.0
22    LHR       88809.0
23    CLT       16862.0
24    SVO       21292.0
25    LGA       40712.0
26    SIN       24874.0
27    TUS        4090.0
28    CTA        7300.0
29    YWG        2680.0
...        ...      ...
2309  AZN          40.0
2310  AXA          10.0
2311  KMS          20.0
2312  BAY          40.0
2313  LPP          30.0
2314  HOF          20.0
2315  SLI          20.0
2316  MCE           0.0
2317  JSI         -10.0
2318  DWD          10.0
2319  DVL          10.0
2320  WNP          20.0
2321  HSL           0.0
2322  ISE          10.0
2323  YYQ          20.0
2324  PDS          20.0
2325  PLX          20.0
2326  NGY          20.0
2327  AGM           0.0
2328  IAM          20.0
2329  RIL           0.0
2330  AAB          30.0
2331  CMW          40.0
2332  FUN           0.0
2333  PHO          40.0
2334  KGP          10.0
2335  CNJ          30.0
2336  VEL          20.0
2337  SLM          20.0
2338  SG            0.0

[2339 rows x 2 columns]

In [82]:
pass_by_ports = pass_by_ports.sort_values('nb_pass')
print pass_by_ports

      arr_port  nb_pass
998   AYQ       -1270.0
2277  MZV        -350.0
1469  UPG         -90.0
2087  XWG         -90.0
1697  MYJ         -80.0
1960  SDJ         -70.0
2170  MUA         -60.0
2148  CXR         -60.0
2236  FLW         -50.0
1767  XNN         -40.0
2229  KKJ         -40.0
2118  KUU         -40.0
1916  CGD         -30.0
1969  RXS         -30.0
1010  XUZ         -20.0
1769  LBF         -20.0
2094  FLA         -20.0
274   YAY         -20.0
2107  HDG         -20.0
1362  RRG         -20.0
1856  VDM         -20.0
1587  BER         -20.0
2077  BAV         -20.0
2246  HRI         -20.0
1841  TAG         -20.0
2047  YRB         -20.0
1335  LEN         -20.0
1467  CPQ         -20.0
1343  IFN         -20.0
343   KSN         -20.0
...        ...      ...
123   BOS       35840.0
97    EWR       36890.0
55    EWR       36890.0
111   ATL       39780.0
3     LGA       40712.0
67    LGA       40712.0
25    LGA       40712.0
158   BCN       41200.0
190   MAD       41410.0
208   CUN       42000.0
128   DFW       42420.0
112   IST       43850.0
44    FCO       45120.0
86    FCO       45120.0
176   ORD       53200.0
166   DXB       55590.0
56    SFO       58000.0
98    SFO       58000.0
134   MIA       58150.0
52    BKK       59460.0
94    BKK       59460.0
91    CDG       64490.0
49    CDG       64490.0
214   JFK       66270.0
108   LAS       69630.0
129   LAX       70530.0
122   MCO       70930.0
64    LHR       88809.0
22    LHR       88809.0
0     LHR       88809.0

[2339 rows x 2 columns]